/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*BOX MODEL */

div, header, footer, aside, section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}



body {
	font-family: 'Exo 2', sans-serif;
}

a {
	text-decoration: none;
}

/* FONTS */


/* MENU */
nav {
	background-color: rgba(50, 215, 212, 0.75);
	width: 100%;
}

ul {
	height: 8vh;
	width: 83%;
	margin: auto;
	text-decoration: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

li {
	font-size: 3em;
	list-style-type: none;
}

.menu_button {
	color: rgb(22, 92, 164);
}

.fa-user:before, .fa-upload:before {
	font-size: 3em;
	color: rgb(22, 92, 164);
}

/* BANNIERE PROMO */

.promo {
	width: 100%;
	background-color: rgb(250, 145, 94);
	height: 22vh;
}

.promo_text {
	color: rgb(22, 92, 164);
	width: 41%;
	margin-left: 37%;
	padding-top: 5.5vh;
	font-size: 3em;
	font-weight: bold;
}

.fa-shopping-cart:before {
	font-size: 1.2em;
}

.panier {
	display: flex;
	width: 13%;
	height: 26%;
	float: right;
	color: white;
	text-align: center;
	font-size: 2em;
	background-color: rgb(22, 92, 164);
}

.cart {
	padding-top: 2.5%;
	width: 40%;
	margin-left: -7px;
	text-decoration: none;
	color: white;
}

.cart_text {
	padding-top: 2.5%;
	width: 70%;
	color: white;
	font-size: 1em;
}

.cart_link {
	color: white;
}

/* TIMER BANNER */

.timer {
	display: flex;
	justify-content: center;
	height: 10vh;
	width: 315px;
	margin-left: auto;
	margin-right: auto;
	color: rgba(50, 215, 212, 0.75);
	background-color: rgb(22, 92, 164);
}

.clock_conteneur {
	width: 15%;
	height: 100%;
}

.fa-clock-o:before {
	font-size: 3.5em;
	line-height: 10vh;
	margin-left: 30%;
}

.timer_conteneur {
	width: 85%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.time_left {
	font-size: 1.5em;
	padding-top: 5px;
	padding-left: 16px;
	justify-content: center;
}

.hour {
	padding-left: 16px;
		font-size: 3em;
}

/* NOUVEAUX DESIGNES */

.new_designs {
	display: flex;
	margin-top: 7vh;
	background-color: rgb(156, 211, 244);
	width: 90%;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
}

.new_cases {
	width: 20%;
	float: left;
}

.price {

}

.buy {

}
