/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*BOX MODEL */

div, header, footer, aside, section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}



body {
	font-family: 'Exo 2', sans-serif;
	width: 100%;
}

a {
	text-decoration: none;
}

/* FONTS */


/* MENU */
header /* pour le sticky menu */ {
	height: 8vh;
}

@import "compass/css3";

.hovicon {
    display: inline-block;
<<<<<<< HEAD
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
=======

>>>>>>> origin/master
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
.hovicon.small {
<<<<<<< HEAD
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
.hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
    height:30px;
    margin:7px;
=======

}
.hovicon.mini {

>>>>>>> origin/master
}
.hovicon.auto-width {
    width: auto;
    height: auto;
<<<<<<< HEAD
    padding: 15px;
=======
>>>>>>> origin/master
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 1 */
 .hovicon.effect-1 {
    background: rgb(22, 92, 164);;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px rgb(22, 92, 164);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
/* Effect 1a */
 .hovicon.effect-1.sub-a:hover {
    background: white;
    color: white;
}
.hovicon.effect-1.sub-a:hover i {
    color: white;
}
.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/* Effect 1b */
 .hovicon.effect-1.sub-b:hover {
    background: rgba(255, 255, 255, 1);
    color: white;
}
.hovicon.effect-1.sub-b:hover i {
    color: white;
}
.hovicon.effect-1.sub-b:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.hovicon.effect-1.sub-b:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.fixed {
	top: 0;
	position: fixed;
}

nav {
	background-color: rgb(106, 226, 237);
	width: 100%;
	height: 80px;
}

ul {
	height: 80px;
	width: 83%;
	margin: auto;
	text-decoration: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

li {
	font-size: 2.5em;
	font-weight: 700;
	list-style-type: none;
}

.li_over:hover {
  border-top: 1px solid rgb(22, 92, 164);
  border-bottom: 1px solid rgb(22, 92, 164);
  padding: 5px 0;
	transition: 0.4s ease;
}

.menu_button {
	color: rgb(22, 92, 164);
}

.fa-user:before, .fa-upload:before {
	font-size: 3em;
	color: rgb(22, 92, 164);
}

.circle {
	background-color: rgb(22, 92, 164);
	border-radius: 60px;
	width: 60px;
	height: 60px;
	text-align: center;
}

<<<<<<< HEAD
.circle .fa-user:before, .circle .fa-upload:before {
	color: white;
	line-height: 60px;
	font-size: 2.5em;
}

/* ACCUEIL */

/* BANNIERE PROMO */
=======
>>>>>>> origin/master

.circle .fa-user:before, .circle .fa-upload:before {
	color: white;
	line-height: 60px;
	font-size: 2.5em;
}


.circle:hover {
	background-color: rgb(250, 145, 94);
	transition: 0.3s linear;
}

/* ACCUEIL */

/* BANNIERE PROMO */
.promo {
	width: 100%;
	background-color: rgb(250, 145, 94);
	height: 22vh;
}

.promo_content {
	width: 55%;
	margin-left: 20%;
}

.promo_pic{
	float: left;
}

.promo_text {
	color: rgb(22, 92, 164);
	height: 22vh;
	font-size: 2.5em;
	font-weight: bold;
}

.fa-shopping-cart:before {
	font-size: 1.2em;
}

/* BOUTON PANIER */

.panier {
	display: flex;
<<<<<<< HEAD
	width: 13%;
	height: 40%;
=======
	width: 250px;
	height:54px;
>>>>>>> origin/master
	padding-bottom: 10px;
	float: right;
	color: white;
	text-align: center;
	font-size: 2em;
	background-color: rgb(22, 92, 164);
}

.cart {
	padding-top: 6px;
	width: 30%;
	margin-left: -7px;
	text-decoration: none;
	color: white;
}

.cart_text {
	padding-top: 6.5px;
	width: 70%;
	color: white;
	font-size: 1em;
}

.cart_link {
	color: white;
}


/* BANNIERE PROMO */

<<<<<<< HEAD
.promo {
	width: 100%;
	background-color: rgb(250, 145, 94);
	height: 22vh;
}

.promo_text {
	color: rgb(22, 92, 164);
	width: 41%;
	margin-left: 37%;
	padding-top: 5.5vh;
	font-size: 3em;
	font-weight: bold;
}
=======
>>>>>>> origin/master

@media (max-width: 800px) {
	.promo_text {
		font-size: 2.2em;
	}
}


/* TIMER BANNER */

.timer {
	display: flex;
	justify-content: center;
	height: 100px;
	width: 315px;
	margin-left: auto;
	margin-right: auto;
	color: rgba(50, 215, 212, 0.75);
	background-color: rgb(22, 92, 164);
}

.clock_conteneur {
	width: 15%;
	height: 100%;
}

.fa-clock-o:before {
	font-size: 3.5em;
	line-height: 10vh;
	margin-left: 30%;
}

.timer_conteneur {
	width: 85%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.time_left {
	font-size: 1.5em;
	padding-top: 5px;
	padding-left: 16px;
	justify-content: center;
}

.hour {
	padding-left: 16px;
		font-size: 3em;
}

/* NOUVEAUX DESIGNES */

.new_designs {
	display: flex;
<<<<<<< HEAD
	margin-top: 7vh;
=======
	margin-top: 175px;
>>>>>>> origin/master
	background-color: rgba(156, 211, 244, 0.5);
	width: 83%;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
}

.new_cases {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
}

.price {
	background-color: rgb(22, 92, 164);
<<<<<<< HEAD
	width: 40px;
=======
	text-align: center;
	width: 80px;
>>>>>>> origin/master
	height: 40px;
	border-radius: 12px;
	text-align: center;
	line-height: 40px;
<<<<<<< HEAD
	font-size: 1.5em;
	color: white;
	cursor: pointer;
=======
	font-size: 1.7em;
	color: white;
	margin-top: -590px;
>>>>>>> origin/master
}

.buy {
	background-color: rgb(22, 92, 164);
	width: 65px;
<<<<<<< HEAD
	border-radius: 12px;
}

.white:before {
=======
	height: 50px;
	border-radius: 12px;
	margin-top: 590px;
}

.white_cart:before {
	text-align: center;
	margin-left: 5px;
	line-height: 50px;
	font-size: 2.5em;
>>>>>>> origin/master
	cursor: pointer;
	padding-left: 7px;
	color: white;
}


/* VOTES */
.newline /*Nouvelle ligne de 4 case */ {
	margin-top: 140px;
	display: flex;
<<<<<<< HEAD
	width: 100%;
	height: 600px;
	margin-left: 5.8%;
}

.new_case {
	width: 25%;
=======
	width: 90%;
	height: 600px;
	margin-left: 8%;
}

.new_case {
	width: 28%;
>>>>>>> origin/master
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

<<<<<<< HEAD

.case_info /*photo + texte */ {

=======

.case_info /*photo + texte */ {
>>>>>>> origin/master
 width: 320px;
 color: rgb(22, 92, 164);
}

.descrip {
	float: right;
}

.name {
	float: left;
	text-align: center;
	font-size: 1.2em;
	line-height: 108px;
}

.case_name {
	display: flex;
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 20px;
}

.like {
<<<<<<< HEAD
	width:54%;
}
=======
	margin-top: 10px;
}


.fa-thumbs-up:hover{
	 color: rgb(22, 92, 164);
		background-color: white;
		border-radius: 15px;
		border: 2px solid rgb(22, 92, 164);
		transition: 0.2s linear;
}

>>>>>>> origin/master
.fa-thumbs-up{
	background-color: rgb(22, 92, 164);
	width: 60px;
	height: 60px;
	border-radius: 12px;
	text-align: center;
<<<<<<< HEAD
	float: right;
=======
	margin-left: 250px;
>>>>>>> origin/master
	line-height: 60px;
	font-size: 2.3em;
	color: white;
	cursor: pointer;
<<<<<<< HEAD
=======
	overflow: hidden;
>>>>>>> origin/master
}

.hidden {
	display: none;
}
.blue {
	color: rgb(22, 92, 164);
}
.white {
	background-color: white;
}
